{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% load static %}

    <div class="container">
        <section id="welcome-section">
            <h2>Welcome to Wellmusic!</h2>
            <p>Discover and enjoy music with ease.</p>
        </section>

        <section id="features-section" class="flex-container">
            <div class="feature">
                <h3>Music Player</h3>
                <p>Listen to your music <a href="{% url 'player' %}" class="btn btn-primary">Go to Player</a></p>
                <img src="{% static 'images/feature1.jpg' %}" alt="Music Player" class="feature-image">
            </div>
            <div class="feature">
                <h3>Music Upload</h3>
                <p>Upload your music and listen directly <a href="{% url 'upload_song' %}" class="btn btn-secondary">Upload a Song</a></p>
                <img src="{% static 'images/feature2.jpg' %}" alt="Music Upload" class="feature-image">
            </div>
            
        </section>

        <section id="contact-section">
            <h3>Contact Us</h3>
            <p>Have questions or feedback? Feel free to reach out to us <a href="#">here</a>.</p>
        </section>
    </div>

    <footer>
        <div class="container">
            <p>&copy; 2024 Wellmusic. All rights reserved.</p>
            <ul class="footer-links">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </footer>
{% endblock %}
