{% extends 'base.html' %}

{% block title %}Upload Song{% endblock %}

{% block content %}
    <div class="container upload-container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-primary text-center">Upload a new song</h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary btn-block">Upload</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
