body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

h1,
h2,
h3,
p {
  font-family: 'Roboto', sans-serif;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1 { font-size: 3.5em; font-weight: 700; }
h2 { font-size: 3.0em; font-weight: 700; }
h3 { font-size: 2.5em; font-weight: 700; }
p { font-size: 1.2em; font-weight: 400; line-height: 1.5; letter-spacing: 0.01em; }

a {
  color: whitesmoke;
  text-decoration: none;
  transition: color 0.3s ease;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

a:hover { color: #d85717; }

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: transparent;
  padding: 0.1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 2.5em;
  color: white;
  text-decoration: none;
  margin-left: 1rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar-nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}


.navbar-nav a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 0.05em;
  transition: color 0.3s ease, background-color 0.3s ease;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ajoutez cette ligne */
}

.navbar-nav a:hover {
  background-color: transparent;
  color: #ff5733;
}

.navbar-nav a:active {
  background-color: transparent;
  color: #ff8c00;
}

.navbar-nav a.player { font-size: 1.8em; }

.navbar-toggler {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  margin-right: 1rem;
}

.navbar-toggler-icon {
  width: 24px;
  height: 2px;
  background-color: white;
  display: block;
}

@media (max-width: 768px) {
  .navbar { flex-direction: column; align-items: flex-start; }
  .navbar-nav { flex-direction: column; align-items: flex-start; width: 100%; margin-top: 1rem; display: none; }
  .navbar-nav.show { display: flex; }
  .navbar-nav a { width: 100%; text-align: left; }
  .navbar-toggler { display: block; }
  .navbar-nav a.player { position: relative; left: auto; top: auto; transform: none; width: 100%; margin: 0; }
}

/* Feature */
.feature {
  background-color: rgba(247, 247, 247, 0.3);
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feature:hover { transform: scale(1.05); }

.feature h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #ff5733;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.feature p { font-size: 2em; color: #ddd; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);}

.feature-icon { color: white; font-size: 2.5em; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);}

/* Buttons */
.btn-primary, .btn-secondary {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #1877f2;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn-primary:hover { background-color: #1565c0; }

.btn-secondary {
  background-color: #5f27cd;
}

.btn-secondary:hover { background-color: #5424bc; }

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 1.5rem 0;
  text-align: center;
  margin-top: 40px;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 1rem 0 0 0;
  display: flex;
  justify-content: center;
}

footer ul li { margin: 0 1rem; }

footer ul li a {
  color: #ccc;
  transition: color 0.3s ease;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

footer ul li a:hover { color: #ff5733; }

/* Containers */
.signup-container, .upload-container, .login-container { margin-top: 5rem; }

.form-group { margin-bottom: 1rem; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.feature img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
}

#project-wrapper {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#project-container {
  background-size: cover;
  background-position: top center;
  color: white;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.5);
}

#overlay {
  position: absolute;
  height: calc(100% + 1px);
  width: calc(100% + 1px);
  z-index: 2;
  background: -moz-linear-gradient(-45deg, #333333 0%, #222222 100%);
  background: -webkit-linear-gradient(-45deg, #333333 0%,#222222 100%);
  background: linear-gradient(135deg, #333333 0%,#222222 100%);
  opacity: .85;
}

#content {
  text-align: center;
  position: relative;
  z-index: 3;
}

#content h2 {
  font-size: 1.3em;
  margin: 35px 0 0 0;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#content h3 {
  margin: 7px 0 15px 0;
  font-size: 0.9em;
  opacity: .4;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#content input[type="range"] {
  width: 100%;
  height: 2px;
  margin: 0 0 15px 0;
  background: -moz-linear-gradient(left, #3498db 0%, #9b59b6 72%);
  background: -webkit-linear-gradient(left, #3498db 0%,#9b59b6 72%);
  background: linear-gradient(to right, #3498db 0%,#9b59b6 72%);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#content input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 8px;
  width: 8px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
}

#controls {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#controls .column { float: left; }

#controls .column:nth-child(even) { font-size: 1.3em; }

#controls .column:nth-child(n+2):nth-child(-n+4) { color: white !important; }

#controls .column:nth-child(3) { font-size: 2em; }

#controls .column.active { color: #9b59b6; }

#controls .column i { margin: 0 15px; cursor: pointer; }

body.home-page {
  background-size: cover;
  background-position: center;
}

.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* code for centering login and signup pages */
.login-container, .signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form, .signup-form { width: 300px; margin: 0 auto; }

/* Added styles for the card form */
.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 400px;
  margin: 0 auto;
}

.login-form .form-group, .signup-form .form-group { margin-bottom: 20px; }

.login-form label, .signup-form label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.login-form input, .signup-form input, .login-form textarea, .signup-form textarea {
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

.login-form button[type="submit"], .signup-form button[type="submit"] {
  background-color: #ff5733;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.login-form button[type="submit"]:hover, .signup-form button[type="submit"]:hover { background-color: #ff8c00; }

/* styles for login form */
.login-form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 400px;
  margin: 0 auto;
}

.login-form .form-group { margin-bottom: 20px; }

.login-form label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ajoutez cette ligne */
}

.login-form input[type="text"], .login-form input[type="password"] {
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

.login-form button[type="submit"] {
  background-color: #ff5733;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.login-form button[type="submit"]:hover { background-color: #ff8c00; }

/* styles for the form labels */
label[for="id_title"], label[for="id_audio_file"] { font-size: 2em; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ajoutez cette ligne */ }

/* styles for the search bar */
.input-group input.form-control {
  height: 50px;
  font-size: 1.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.input-group button.btn-primary {
  height: 50px;
  font-size: 1.2em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
